body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../Images/staff/staff14.jpg) no-repeat;
    background-size: cover;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
    position: fixed;

}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

}

a.active,
a:hover {
    background: #00ffff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

section {
    /*background: url(../Images/.jpg) no-repeat;*/
    background-size: cover;
    height: calc(100vh - 80px);
}

.footer {
    position: fixed;
    font-size: 18px;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    bottom: 0;
    color: white;
    background-color: #2c3e50;
    text-align: right;
}

h1 {
    margin-left: 250px;
    margin-top: -500px;
    color: #ffff;
}


.strokeme1 {
    float: left;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-content: center-right;
    padding: 0px 20px;
    text-align: left;
    font-size: 80%;
    margin-top: 10px;

}

.strokeme2 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-content: center-right;
    padding: 0px 20px;
    text-align: right;
    margin-left: 80%;
    font-size: 80%;
    margin-top: 10px;

}

.sidebar {
    background: #2f323a;
    margin-top: 80px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #19B3D3;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content {
    margin-left: 250px;
    /*background: url(background.png) no-repeat;*/
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check {
    display: none;
}